modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Backend && npm run start:dev"
waitForPort = 4000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
FROM_EMAIL = "72hadi725@gmail.com"
FRONTEND_URL = "http://localhost:5000"
GITHUB_CALLBACK_URL = "http://localhost:4000/api/v1/auth/github/callback"
GOOGLE_CALLBACK_URL = "http://localhost:4000/api/v1/auth/google/callback"
